
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');



/* {
    font-family: Tahoma, sans-serif;
  }*/
 
  

  #logo {
    width: 30%;
    float: right;
    margin-right: 2rem;
  }

  header{
    font-family:'EB Garamond';
  }

  h2 {
       font-size: 3rem;
       font-weight:bold;
  }

  h4{
    font-style: italic;
  }

  /*label{
    display:block;
  } per metter il testo nome, cognome... sopra lo spazio da compilare

  .noaccapo>label {
    display: inline;
  } */

  main{
    margin:auto;
    width:50%;
    padding: 1%;
    border-color: black;
    border:1px solid;
    border-radius: 1.5rem;
  }

 
  
  