@import url('https://fonts.googleapis.com/css2?family=Denk+One&family=Strait&display=swap');

main{ 
    margin:auto;
    width:50%;
    padding: 1rem;
    border-color: black;
    border:1px solid;
    border-radius: 1.5rem;
    background-color: rgb(220, 223, 220);
   }

*{
font-family:'Strait', sans-serif; 
}

header{
    margin: auto;
    width: 50%;
    font-family: 'Denk One', sans-serif;
}

#logo{
    width: 30%;
    border:2px solid;
    border-radius: 20px;
     }
     
.logo{
    display:inline-block;
    text-align: center;
   } 

section{
    margin: auto;
    width: 50%;
}

.spazio{
     padding: 10px;
       }

.spazio1{
     margin-bottom:20px;
      padding-top: 100px;
       }

#nome, #start, #racconta{
     display: block;
     float: right;
     width: 250px;
       }

textarea{
    display:block;
    padding: 10px;
    max-width: 100%;
    }









