$myFont: Helvetica, sans-serif;
$myColor: blue;
$myFontSize: 12px;
$otherColore:red;

body {
    font-size:$myFont ;
    font-size:$myFontSize ;
    color:$myColor;
    }

    p{
        font-family: $myFont;
        color:$otherColore;
    }